<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>

<body>
  <a href="/new">Add new message</a>
  <h2>messages: </h2>
  <ul>
    <% messages.forEach(msg => { %>
    <li>
      <p>Text: <%= msg.text %></p>
      <p>User: <%= msg.username %> at <%= msg.added%></p>
      <a href="/msgs/<%=msg.id%>"><button>Open</button></a>
    </li>
    <% }) %>
  </ul>
</body>

</html>