<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Details for <%= message.id %></title>
</head>

<body>
  <h1>Details for <%= message.id %></h1>
  <h2><%= message.authorName %> at <%= message.added %></h2>
  <p><%= message.text %></p>
</body>

</html>